body{
    margin: 0;
    padding:0;
    width: 100vw;
    height: 100vh;
}

aside{
    /*align-self: center;*/
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 400px){
    /*For small screens*/
    body{
        display:grid;
        /*set the columns and rows for the grid*/
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 60% 20%;
    }
    header{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end:2;
        text-align: center;
        background-color: #0282ff;
    }
    main{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end:3;
        background-color: #ff7f24;
        text-align: center;
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end:4;
        background-color: #0282ff;
        text-align: center;
    }
    #leftAside{
        width: 50%;
        height: 100%;
        background-color: #000000;
        transition: 0.5s;
    }
    #leftAside[data-closed="true"]{
        position: fixed;
        left:-49%;
    }
    #leftAside[data-closed="false"]{
        position: fixed;
        left:0%;
    }
    #rightAside{
        width: 50%;
        height: 100%;
        background-color: #000000;
        transition: 0.5s;
    }
    #rightAside[data-closed="true"]{
        position: fixed;
        right:-49%;
    }
    #rightAside[data-closed="false"]{
        position: fixed;
        right:0%;
    }
}

@media only screen and (min-width: 401px){
    /*For non-mobile screens*/
    body{
        /*"Initialize" the grid*/
        display:grid;
        /*set the columns and rows for the grid*/
        grid-template-columns: 10% 10% 30% 30% 10% 10%;
        grid-template-rows: 15% 35% 35% 15%;
    }
    header{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end:2;

        text-align: center;
        background-color: #0282ff;
    }
    #leftAside{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end:4;

        background-color: #000000;
    }
    #rightAside{
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end:4;

        background-color: #000000;
    }
    main{
        grid-column-start: 3;
        grid-column-end:5;
        grid-row-start:2;
        grid-row-end:4;

        background-color: #ff7f24;
        text-align: center;
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;

        background-color: #0282ff;
        text-align: center;
    }
}






