body{
    margin: 0;
    padding:0;
    width: 100vw;
    height: 100vh;
}

.asideHeader{
    /*align-self: center;*/
    text-align: center;
    color: #ffffff;
}

@media only screen and (max-width: 768px){
    /*For small screens*/
    .container{
        display:grid;
        height: 100vh;
        /*set the columns and rows for the grid*/
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 15% 35% 35% 15%;


    }
    header{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end:2;
        text-align: center;
        background-color: #0282ff;
    }
   #leftAside{
       position: fixed;
       transform: translateX(-99%);
       width: 50%;
       height: 100%;
       background-color: #000000;
       transition: 0.5s;
    }
    #rightAside{
        position: fixed;
        right: 0;
        transform: translateX(99%);
        width: 50%;
        height: 100%;
        background-color: #000000;
        transition: 0.5s;
    }
    #leftAsideButton, #leftAsideCloseButton{
        position: absolute;
        top: 5%;
        left: 5%;
     }
    #rightAsideButton, #rightAsideCloseButton{
        position: absolute;
        top: 5%;
        right: 5%;
    }
    main{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end:4;
        background-color: #ff7f24;
        text-align: center;
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        grid-row-end:5;
        background-color: #0282ff;
        text-align: center;
    }
}

/*1080px - large screens*/
@media only screen and (min-width: 769px){
    /*For desktop screens*/
    .asideButton{
        visibility: hidden;
    }
    .asideCloseButton{
        visibility: hidden;
    }
    .container{
        /*"Initialize" the grid*/
        display:grid;
        height: 100vh;
        /*set the columns and rows for the grid*/
        grid-template-columns: 10% 10% 30% 30% 10% 10%;
        grid-template-rows: 15% 35% 35% 15%;

    }
    header{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end:2;

        text-align: center;
        background-color: #0282ff;
    }
    #leftAside{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end:4;

        background-color: #000000;
    }
    #rightAside{
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end:4;

        background-color: #000000;
    }
    main{
        grid-column-start: 3;
        grid-column-end:5;
        grid-row-start:2;
        grid-row-end:4;

        background-color: #ff7f24;
        text-align: center;
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 4;
        grid-row-end: 5;

        background-color: #0282ff;
        text-align: center;
    }
}






